.headerOuterContainer {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: white;
  z-index: 1;
  background-color:#111;

}

.headerContainer,
.headerRight ul,
.headerLeft ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerRight ul,
.headerLeft ul {
  width: 150%;
  list-style: none;
  cursor: pointer;
}

.headerContainer {
  width: 90%;
}