.footerOuterContainer {
  display: flex;
  justify-content: center;
  background-color: #111;
  color: gray;
  margin-bottom: 5vh;
}
.footerContainer {
  width: 60%;
}
.footerIcons {
  display: flex;
  gap: 1rem;
  color: white;
  width: 12%;
  margin-bottom: 2vh;
}
.footerData {
  display: flex;
  justify-content: space-between;
}
.footerData ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12vh;
  cursor: pointer;
}
.serviceCode {
  border: #fff 1px solid;
  width: 12%;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
}
.copyWrite {
  font-size: 12px;
}
